*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.container{
    width: 380px;
    background: white;
    border-radius: 7px;
    padding: 40px 30px 50px 30px;
    text-align: center;
}
.container header{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
}
form .field .input-area{
    position: relative;
}
form input{
    width: 100%;
    height: 50px;
    font-size: 17px;
    padding: 0 40px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    outline: none;
    border-radius: 5px;
}
form input::placeholder{
    color: rgb(117, 116, 116);
}
form .field.error input{
    border-color: red;
}
form .field{
    margin-bottom: 20px;
    width: 100%;
}
form .field.shake{
    animation: shake 0.3s ease-in-out;
}
@keyframes shake {
    0%, 100% {
        margin-left: 0;
    }
    20%, 80% {
        margin-left: -12px;
    }
    40%, 60% {
        margin-left: 12px;
    }
}
form .field i{
    position: absolute;
    top: 46%;
    pointer-events: none;
    transform: translateY(-50%);
}
form .field .icon{
    left: 17px;
    color: rgb(117, 116, 116);
}
form .field .error-icon{
    right: 17px;
    color: red;
}
form .field .error-txt{
    text-align: start;
    color: red;
    margin-top: 5px;
    margin-bottom: 4px;
}
form .field .error{
    display: none;
}
form .field.error .error{
    display: block;
}
form .pass-link{
    text-align: left;
    margin-top: -10px;
    margin-bottom: 20px;
}
form .pass-link a{
    text-decoration: none;
    color: rgb(121, 128, 224);
}
form .pass-link a:hover{
    text-decoration: underline;
}
form input[type="submit"]{
    background: rgb(121, 128, 224);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background 0.4s ease;
}
form input[type="submit"]:hover{
    background: rgb(61, 61, 235);
}